<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
   <form action="/create" method="post">
       <input type="text" name="productname" placeholder="productname">
       <input type="text" name="price" placeholder="price">
       <input type="text" name="image" placeholder="image">
       <input type="text" name="rating" placeholder="rating">
       <input type="text" name="km" placeholder="km">
       <input type="text" name="smallImage" placeholder="smallImage">
       <input type="text" name="tag" placeholder="tag">
       <input type="text" name="costumer" placeholder="costumer">
       <input type="submit">
   </form>
   <a href="/show">show</a>
   <a href="/goto">restroos</a>
</body>
</html>

